.lights {
  margin-bottom: 10rem;
  background-color: #2c2c2c;
  width: 100%;
}
.poster_background {
  position: absolute;
  padding: 10px;
  width: 100%;
  z-index: -1;
  height: 100%;
  transform: scale(1.1);
  overflow: hidden;
  filter: brightness(50%) contrast(140%) blur(10px);
}

.content__container {
  display: flex;
  flex-direction: row;
  z-index: 1;

  margin-top: 4rem;
}

.left__container {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: 15rem;
  margin-right: 2rem;
}

.right_container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 15rem;
}

.moviename {
  font-size: 40px;
  color: rgb(194, 190, 228);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bolder;
}

.movieyear {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  padding-left: 20px;
}

.movie__container {
  height: 100%;
  background-color: #2c2c2c;
}

.poster {
  height: 30rem;
  align-self: auto;
  object-fit: contain;
}

.poster__container {
  background-color: #2c2c2c;
}
.tagline {
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: white;
  font-style: italic;
}

.rating {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  background-color: #FFE27C;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 2rem;
}

.rating__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}

.rating__count {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.info__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.info__title {
  font-weight: 700;
  font-size: 1.5rem;
}

.info__value {
  font-style: italic;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.info__overview {
  font-style: italic;
  margin-top: 0.5rem;
  font-size: 1.4rem;
}

.onemovie {
  background-color: #2c2c2c;
}

.your_review {
  display: flex;
  flex-direction: column;
  flex: 2 1;
  background-color: #2c2c2c;
  color: black;
  align-items: center;
  margin-top: 10rem;
  padding-bottom: 10rem;
}
