::-webkit-scrollbar {
  width: 0px;
  color: white;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.card {
  flex-shrink: 0;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.reviews_span_movies {
  color: white;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-left: 10px;
}
